annotated-types==0.8.0
appdirs==1.4.4
asteval==1.0.9
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1783975656336/work
astunparse==1.6.3
attrs==26.1.0
backports.zstd==1.6.0
boto3==1.43.55
botocore==1.43.55
Bottleneck==1.6.0
brotli==1.2.0
bw-migrations==0.2
bw2calc==1.8.2
bw2data==3.6.6
bw2io==0.8.12
bw2parameters==1.1.0
cached-property==2.0.1
certifi==2026.7.22
cffi==2.1.0
chardet==7.4.3
charset-normalizer==3.4.9
click==8.4.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
constructive_geometries==1.0
country_converter==1.3.2
cryptography==49.0.0
dataflows-tabulator==1.54.3
datapackage==1.15.4
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1780390182/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1779115150916/work
docopt==0.6.2
ecoinvent_interface==3.1
eight==1.0.1
et_xmlfile==2.0.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fasteners==0.20
flexcache==0.3
flexparser==0.4
future==0.18.3
greenlet==3.5.4
idna==3.18
ijson==3.5.1
inflate64==1.0.4
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1781101760/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1782482745/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
isodate==0.7.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jedi_1782251948/work
jmespath==1.1.0
jsonlines==4.0.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1781019994/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
linear-tsv==1.1.0
llvmlite==0.48.0
lxml==5.4.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1778264321245/work
mrio-common-metadata==0.2.1
multivolumefile==0.2.3
nest-asyncio2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nest-asyncio2_1770973502/work
numba==0.66.0
numpy==1.26.4
openpyxl==3.1.5
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas==2.3.3
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
peewee==4.2.6
Pint==0.25.3
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1784661349/work
premise==2.4.7
premise_gwp==0.9.10
prettytable==3.18.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
psutil @ file:///D:/bld/bld/rattler-build_psutil_1769678166/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py7zr==1.1.3
pyarrow==25.0.0
pybcj==1.0.8
pycountry==26.2.16
pycparser==3.0
pycryptodomex==3.23.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
pyecospold==4.0.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pyppmd==1.3.1
PyPrind==2.11.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.2
python-json-logger==4.1.0
pytz==2026.2
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1781362876/work
pyxlsb==1.0.10
PyYAML==6.0.3
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1779483941/work
referencing==0.37.0
requests==2.34.2
rfc3986==2.0.0
rpds-py==2026.6.3
s3transfer==0.19.2
schema==0.7.8
scipy==1.13.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sparse==0.19.0
SQLAlchemy==2.0.51
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
stats_arrays==2.0
structlog==26.1.0
tableschema==1.21.0
texttable==1.7.0
toolz==1.1.0
tornado @ file:///D:/bld/tornado_1781006762358/work
tqdm==4.69.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_traitlets_1780507822/work
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
tzdata==2026.3
unfold==1.2.4
unicodecsv==0.14.1
Unidecode==1.4.0
urllib3==2.7.0
voluptuous==0.16.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1782771721065/work
Whoosh==2.7.4
wrapt==2.2.2
wurst==0.5.3
xarray==2024.2.0
xlrd==2.0.2
xlsxwriter==3.2.9
